
.depicter-revert .depicter-63-element-7{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#3B61F4;
	border-radius:30px;
}
.depicter-revert .depicter-63-element-7:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-7:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-63-element-6{
	opacity:0.7;
	font-size:16px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-5{
	font-size:70px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-5:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-4{
	font-size:20px;
	color:#3B61F4;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-2{
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-63-element-3{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#3B61F4;
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-63-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-17{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#FF8200;
	border-radius:30px;
}
.depicter-revert .depicter-63-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-17:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-63-element-16{
	opacity:0.7;
	font-size:16px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-15{
	font-size:70px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-15:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-14{
	font-size:20px;
	color:#FF8200;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-12{
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-63-element-13{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FF8200;
	border-radius:300px 300px 0px 0px;
}
.depicter-revert .depicter-63-section-11 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-29{
	font-size:14px;
	text-align:center;
	color:#000;
	font-family:"Inter";
	font-weight:800;
	direction:rtl;
	background-color:#FFF;
	border-width:1px;
	border-style:solid;
	border-color:#000;
	border-radius:30px;
}
.depicter-revert .depicter-63-element-29:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-29:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-63-element-28{
	opacity:0.7;
	font-size:19px;
	color:#000;
	font-family:"Inter";
	font-weight:500;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-27{
	opacity:0.7;
	font-size:19px;
	color:#000;
	font-family:"Inter";
	font-weight:500;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-26{
	opacity:0.7;
	font-size:19px;
	color:#000;
	font-family:"Inter";
	font-weight:500;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-24{
	font-size:16px;
	text-align:center;
	color:#FFF;
	font-family:"Inter";
	font-weight:800;
	direction:rtl;
	background-color:#000;
	border-radius:30px;
}
.depicter-revert .depicter-63-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-24:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#000000;
}
.depicter-revert .depicter-63-element-23{
	opacity:0.7;
	font-size:19px;
	color:#000;
	font-family:"Inter";
	font-weight:500;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-22{
	font-size:40px;
	color:#000;
	font-family:"Inter";
	font-weight:500;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-22:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-63-element-30 .depicter-bullet-item{
	background-color:#DBEDEE;
	border-radius:550px 550px 550px 550px ;
	width:20px;
	height:20px;
}
.depicter-63-element-30 .depicter-bullet-item.depicter-bullet-active{
	background-color:#F00;
}
.depicter-63-element-30 .depicter-bullets-wrapper{
	gap:10px;
	flex-direction:row;
}
.depicter-revert .depicter-63-section-18 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-63-element-4{
	font-size:20px;
	color:#3B61F4;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-15{
	font-size:70px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-14{
	font-size:20px;
	color:#FF8200;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-section-11 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-29{
	background-color:#FFB400;
}
.depicter-revert .depicter-63-element-24{
	background-color:#FFB400;
}
.depicter-revert .depicter-63-section-18 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-63-element-7{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#3B61F4;
}
.depicter-revert .depicter-63-element-7:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-6{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-5{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-4{
	font-size:20px;
	color:#3B61F4;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-3{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#3B61F4;
}
.depicter-revert .depicter-63-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-17{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#FF8200;
}
.depicter-revert .depicter-63-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-16{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-15{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-14{
	font-size:20px;
	color:#FF8200;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-13{
	background-color:transparent;
	border-width:2px;
	border-style:solid;
	border-color:#FF8200;
}
.depicter-revert .depicter-63-section-11 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-63-element-29{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#FFB400;
}
.depicter-revert .depicter-63-element-29:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-28{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-27{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-26{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-24{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#FFB400;
}
.depicter-revert .depicter-63-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-63-element-23{
	font-size:12px;
	text-align:center;
	color:#000000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:115%;
	background-color:transparent;
}
.depicter-revert .depicter-63-element-22{
	font-size:40px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:111%;
	background-color:transparent;
}
.depicter-revert .depicter-63-section-18 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/*** Custom styles ***/
.depicter-revert .depicter-63-element-28{
  position: relative;
  padding-left: 15px; /* Indent the paragraph to make space for the bullet */
}

.depicter-revert .depicter-63-element-28::before {
  content: "\2022"; /* Unicode for bullet point */
  position: absolute;
  left: 0;
  color: black; /* You can change this color */
  font-size: 18px; /* Adjust size as needed */
  line-height: 1; /* Match the line-height of the text */
}

.depicter-revert .depicter-63-element-27{
  position: relative;
  padding-left: 15px; /* Indent the paragraph to make space for the bullet */
}

.depicter-revert .depicter-63-element-27::before {
  content: "\2022"; /* Unicode for bullet point */
  position: absolute;
  left: 0;
  color: black; /* You can change this color */
  font-size: 18px; /* Adjust size as needed */
  line-height: 1; /* Match the line-height of the text */
}

.depicter-revert .depicter-63-element-26{
  position: relative;
  padding-left: 15px; /* Indent the paragraph to make space for the bullet */
}

.depicter-revert .depicter-63-element-26::before {
  content: "\2022"; /* Unicode for bullet point */
  position: absolute;
  left: 0;
  color: black; /* You can change this color */
  font-size: 18px; /* Adjust size as needed */
  line-height: 1; /* Match the line-height of the text */
}

.depicter-revert .depicter-63-element-23{
  position: relative;
  padding-left: 15px; /* Indent the paragraph to make space for the bullet */
}

.depicter-revert .depicter-63-element-23::before {
  content: "\2022"; /* Unicode for bullet point */
  position: absolute;
  left: 0;
  color: black; /* You can change this color */
  font-size: 18px; /* Adjust size as needed */
  line-height: 1; /* Match the line-height of the text */
}


